{% extends "sign/main.html" %}

{% block title %}
  Login
{% endblock title %}

{% block content %}
  <h2>Sign in</h2>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Sign in">
    <button><a href="/sign/signup">Sign up</a></button>
  </form>
{% endblock %}